:root{
    --background: #F7F7F7;
    --branco: #FFF;
    --preto: #1D1D1D;
    --verde: #2BB673;
}


*{
    outline: none;
    border: 0;
    margin: 0;
}
body{
    background: var(--background);
    padding: 2rem;
    display: flex;
}